
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "Montserrat", Sans-serif;
    vertical-align: baseline;
}


:root{
    --azul-escuro: #00556f;
    --branco: #fff;
    --dourado: #bdc345;
    --verde-claro: #02dd1f;
    --azul-claro: #bcefff;
    --azul-medio: #6ea6b7;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    color: var(--azul-escuro);
    font-size: 40px;
    width: 70%;
    text-align: center;
    margin-top: 50px;
}

h2{
    color: var(--branco);
    font-size: 25px;
    padding: 15px;
    font-weight: 500;
    text-align: center;
}

h3{
    color: var(--dourado);
    font-size: 38px;
    padding: 10px;
    text-align: center;
    width: 70%;
}

h4{
    color: var(--azul-escuro);
    padding: 10px;
    text-align: center;
    width: 70%;
    font-size: 20px;
    font-weight: 500;
}

h5{
    color: red;
    font-weight: 400;
    font-size: 30px;
    padding: 35px;
    text-align: center;
}



a {
    padding: 15px 40px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    color: var(--branco);
    background-color: var(--verde-claro);
    text-decoration: none;
    font-weight: 800;
    display: inline-block;
    animation: grow-shrink 2s infinite;
    margin-top: 30px;
    margin-bottom: 30px;
}

strong{
    color: var(--azul-escuro);
    font-size: 25px;
    width: 50%;
    text-align: center;
    margin: 20px;
   
}

p{
    font-size: 22px;
}


@keyframes grow-shrink {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

@media (max-width: 800px){

    h1{
        font-size: 30px;
        width: 90%;
    }

    h2{
        font-size: 18px;
    }

    h3{
        width: 98%;
        font-size: 30px;
    }
    h4{
        width: 95%;
    }
    a{
        font-size: 12px;
        padding: 10px 30px;
        border-radius: 80px;
    }
    strong{
        width: 100%;
    }
    p{
        text-align: center;
    }
}
.div-h{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.div-v{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.bg-azul-escuro{
    background-color: var(--azul-escuro);
    display: flex;
    align-items: center;
    justify-self: center;
}

.bg-azul-claro{
    background-color: var(--azul-claro);
    display: flex;
    align-items: center;
    justify-self: center;
}

.bg-degrade{

        background-image: linear-gradient(to bottom, #ffffff 40%, #bcefff 90%, #bcefff 100%);
  
    
    
}

.div-img-text{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.div-img-text img{
    width: 600px;
  }
@media (max-width: 1200px){
    .div-img-text{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }


.card01{
    width: 80%;
    margin: 30px;
    display: flex;
  }

 .cards01{
    
    background-image: linear-gradient(#fff, #bcefff);
    margin: 5px;
    
  }

.cards01 p{
    text-align: center;
    font-size: 19px;
    width: 85%;
    font-weight: 400;
  }

.cards01 img{
    width: 300px;
    border-radius: 80px;
  }






  @media (max-width: 1000px){
    .cards01 img{
        padding: 5px;
        width: 200px;
        margin-top: 20px;
    }
  }



  @media (max-width: 900px){
    .cards01 img{
        width: 400px;
    }

    .card01{
        flex-direction: column;
    }
  }
.bg02 img{
    width: 300px;
    padding: 20px;
}

 video{
    margin-bottom: 30px;
    width: 700px
}

.rotate {
    transform: rotate(270deg);
    color: var(--verde-claro);
    font-size: 70px;
    padding: 0;
    margin: 0;
    
}


.barra-dourada {
    background-color: var(--dourado);
    height: 6px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 30px;
  }


  @media (max-width: 600px){
    video{
        width: 300px;
    }
  }

  @media (max-width: 800px){
    video{
        width: 500px;
    }
  }


 
  .bg05{
    width: 80%;
  }
  

  .bg06{
    width: 100%;
  }
  .bg06 .div-v{
    width: 80%;
  }
  

  @media (max-width: 800px){
    .bg06 .div-v{
        width: 95%;
    }
  }

  .bg08{
    background-color: var(--azul-claro);
  }

  .bg08 .card01 .cards01{
    background: var(--branco);
  }

  .bg09{
    width: 80%;
  }

  .div-video-bg09{
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .video-08{
    margin: 5px;
  }

  .div-video-bg09 video{
    width: 400px;
    border-radius: 20px;
  }

  
  @media (max-width: 800px){
    .div-video-bg09{
        flex-direction: column;
    }
  }

  
  .div-cards-bg10{
    margin: 20px;
    display: flex;
    background-color: var(--branco);
    text-align: center;
  }

  @media (max-width: 800px){
    .div-cards-bg10{
        flex-direction: column;
    }
  }


  .card-bg10-01 a{
    margin: 0;
    background: var(--azul-medio);
    color: #fff;
  }

  .card-bg10-01 .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card-bg10-01 .card img {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 300px;
  }
  .card-bg10-01 .card strong{
    color: black;
    text-align: start;
    width: 80%;
    text-align: center;
  }

  